.message {
  padding: 10px;
  max-width: fit-content;
  object-fit: contain;
}

.message_card {
  /* background-color: white; */

  padding: 0px;
  margin: 12px;
  width: fit-content;
}
.message_user {
  margin-left: auto;
  color: white;

  text-align: left !important;
}

.message_usercard {
  background-color: #0b81ff !important;
  margin: 12px;
  border-radius: 15px !important;
  object-fit: contain;
  min-width: fit-content;

  overflow-x: visible;
}
.message_guestcard {
  background-color: rgb(226, 226, 226) !important;
  text-align: left !important;
  object-fit: contain;
  min-width: fit-content;

  margin-bottom: 4px;
  margin-right: 15px;

  border-radius: 15px !important;
}
